networks:
  dev:

services:
  db:
    image: postgres
    container_name: postgres
    restart: always
    environment:
      POSTGRES_DB: appdb
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U appuser -d appdb"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - dev

  nginx:
    image: nginx:stable-alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - './nginx.conf:/etc/nginx/nginx.conf'
      - '/etc/letsencrypt:/etc/letsencrypt'
    depends_on:
      - webapi
      - redis
      - frontend
    networks:
      - dev

  redis:
    image: redis:8.6-rc1-alpine3.23
    container_name: redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    command: redis-server --save "" --appendonly no
    networks:
      - dev

  webapi:
    image: webapi
    build:
      context: .
      dockerfile: WebApi/Dockerfile
    environment:
      Redis__ConnectionString: "redis:6379"
    depends_on:
      - redis
      - db:
          condition: service_healthy
    networks:
      - dev
      
  frontend:
    build:
      context: ./ui
    networks:
      - dev

volumes:
  redis-data:
  pgdata: