:host {
    position: relative;
    z-index: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

:host::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    pointer-events: none;
    mask-image: url("./../../../../../public/assets/bg.png");
    mask-repeat: no-repeat;
    mask-size: cover;
    -webkit-mask-image: url("./../../../../../public/assets/bg.png");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
}

.header {
    height: 50px;
}

.link-shorter {
    padding-top: 10vh;
    padding-bottom: 10vh;
    display: flex;
    justify-content: space-around;
    min-width: 200px;
    flex: 1;
}

.user-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer {
    padding-top: 5vh;
    margin-bottom: 0;
}

.action-bar {
    display: flex;
    flex-direction: row;
    width: 30%;
    min-width: 300px;
    margin: 0 auto;
}
