:host {
    box-sizing: border-box;
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    font-size: 20px;
    padding: 10px 0 0 0;
    margin: 0;
    min-height: 100vh;
}

:host::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    pointer-events: none;
    mask-image: url("./../../../../../public/assets/bg.png");
    mask-repeat: no-repeat;
    mask-size: cover;
    -webkit-mask-image: url("./../../../../../public/assets/bg.png");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
}
