@use './components/main-page/main-page.theme.scss' as *;
@use './components/header/header.theme.scss' as *;
@use './components/link-shorter/link-shorter.theme' as *;
@use './components/result-link/result-link.theme' as *;
